.promotedSection {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  margin: 1rem 0;

  .infoItemPromoted {
    width: 10rem;
  }

  p,
  h2 {
    cursor: default;
  }

  .itemPromotedOffer {
    margin: 1rem;
    text-align: center;
    width: fit-content;
    padding: 1rem;

    border: 0.3rem solid black;
    border-radius: 1rem;

    & > .boxItemPromoted {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      color: #5e5ed9;

      .lastPrice {
        text-decoration-color: red;
        text-decoration-thickness: 2px;
      }

      hr {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
      }
    }

    .imgItemPromoted {
      width: 12rem;
      height: 12rem;
    }

    .lastPrice {
      text-decoration: line-through;
      font-size: 0.75rem;
    }

    a {
      font-weight: bold;
    }
  }
}

@media (max-width: 864px) {
  .imgItemPromoted {
    width: 6rem !important;
    height: 6rem !important;
  }
}

@keyframes promotedCard {
  0% {
    border-color: #6060de;
  }
  8% {
    border-color: rgb(255, 0, 255);
  }
  16% {
    border-color: rgb(255, 50, 50);
  }
  25% {
    border-color: rgb(255, 0, 127);
  }
  33% {
    border-color: rgb(255, 0, 0);
  }
  41% {
    border-color: rgb(255, 127, 0);
  }
  50% {
    border-color: rgb(255, 255, 0);
  }
  58% {
    border-color: rgb(127, 255, 0);
  }
  66% {
    border-color: rgb(0, 255, 0);
  }
  74% {
    border-color: rgb(0, 255, 127);
  }
  82% {
    border-color: rgb(0, 255, 255);
  }
  90% {
    border-color: rgb(0, 127, 255);
  }
  98% {
    border-color: rgb(0, 0, 255);
  }
}
