@import "../../../../styles/variables.scss";

.catNav {
  position: absolute;
  top: 6rem;

  display: flex;
  flex-direction: column;
  text-align: center;

  margin: 0 0.5rem;
  padding: $defaultFontSize 0;

  background-color: $headerColor;
  color: $defaultBkgGray;

  border: 4px solid transparent;
  border-color: $defaultBkgBlue /*  $defaultBkgGray */;
  border-width: 0px 4px 4px 4px;
  border-radius: 0 0 $defaultFontSize $defaultFontSize;

  cursor: default;
  opacity: 0.95;
  overflow: hidden;

  hr {
    margin: 0.5rem 0;
    border-color: #5e5ed9;
  }
  a:hover {
    color: #5e5ed9;
    text-decoration: none;
  }
  .categoriesList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.catNav {
  display: none;
}

.menuItem:first-child {
  &:hover {
    // ! queria afectar todo lo que no fuera el header y el navbar+menu pero no me salio :( Solo afectaba a los elementos hijos de la seleccion
    /* & > :not(.catNav) {
      filter: brightness(0.5);
    } */

    .catNav {
      display: block;
      .container {
        opacity: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        row-gap: 1rem;
        z-index: 1;
      }
    }
    label {
      font-weight: bold;
    }
    & p {
      cursor: pointer;
    }
    & p:hover {
      color: $defaultBkgBlue;
      transform: scale(1.1);
    }
  }
}

.categoriaMenu {
  padding: $defaultFontSize;
  min-width: fit-content;
  min-height: fit-content;
}

.categoriaOpcion {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $defaultFontSize * 0.5 $defaultFontSize;
}

p {
  height: fit-content;
  margin-bottom: $defaultFontSize * 0.2;
}
