.loadingContainer {
  z-index: 10;
  color: white;

  .customCont {
    position: fixed;
    left: -50%;
    height: 100vh;
    width: 150%;
    background-color: hsla(130, 8%, 15%, 0.5);
  }
}

section.finish {
  font-family: "Ubuntu", sans-serif;
  text-align: center;

  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 1.5rem;

  .cartTitleSection {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    padding: 0.5rem 2rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #ff8811;
    color: #6060df;
    border: 1.5px solid #222823;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 80%;
    width: fit-content;
    margin: auto;

    button:not(.removeItemForm) {
      background-color: hsla(0, 0%, 100%, 0.75);
      opacity: 1;
      font-weight: bold;
      border-color: #6060df;
      padding: 0.25rem;
    }
  }

  .separator {
    margin: 0.5rem auto;
    border-top: 3px solid gray;
    width: 20rem;
    max-width: 80%;
  }
  .subSeparator {
    border-top-width: 2px;
    width: 12rem;
    max-width: 50%;
  }
}

.groupFormX {
  p {
    font-weight: bold;
  }
}

.groupForm {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  column-gap: 1rem;

  label,
  input {
    transition: all 0.75s;
    width: 10rem;
  }
  label {
    order: 2;
    transform: translateX(-55%);

    text-align: center;
    cursor: pointer;
    font-weight: bold;

    z-index: 9;
    opacity: 0;
  }
  input {
    order: 1;
    transform: translateX(55%);

    text-align: center;
    padding: 2px 1rem;
    border: 3px inset gainsboro;
    border-radius: 1rem;
  }
  input:hover,
  input:focus {
    border-color: hsl(240, 62%, 61%);
  }

  input:focus {
    &::placeholder {
      opacity: 0;
    }
    transform: translateX(105%);
    & + label {
      transform: translateX(-105%);
      opacity: 1;
    }
  }
}

.productsForm {
  .prodForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;

    & span {
      max-width: 60%;
    }
  }

  .removeItemForm {
    overflow: hidden;
    width: 1rem;
    height: 1rem;
    padding: 0;
    box-sizing: content-box;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    div {
      transition: all 0.25s;
      border: 1px solid black;
      width: 0.5rem;
      position: absolute;
      background-color: red;
    }
    div:first-child {
      transform: rotate(45deg);
    }
    div:last-child {
      transform: rotate(-45deg);
    }
  }

  .removeItemForm:hover {
    border-color: red;
    div {
      border-color: red;
    }
  }
}

@media (max-width: 450px) {
  .groupForm {
    label {
      display: none;
    }

    input {
      transform: translateX(0);
    }
    input:hover,
    input:focus {
      transform: translateX(0);
    }
  }
}
