@import "../../../../styles/variables.scss";

.navCart {
  display: none;

  position: absolute;
  top: 6rem;
  right: 0;
  margin-right: $defaultShadow;

  color: $defaultBkgGray;
  background-color: $headerColor;
  padding: $defaultFontSize;
  border: $defaultShadow solid $defaultBkgGray;
  border-width: 0 $defaultShadow $defaultShadow $defaultShadow;
  border-radius: $defaultFontSize;

  ul {
    list-style-type: none;
  }
}

@media (max-width: 864px) {
  .navCart {
    top: 5rem;
  }
}
