.productCard {
  display: flex;
  flex-direction: column;

  background-color: #222823;
  color: #222823;
  border: 3px outset #5e5ed9;

  width: 20rem;
  min-height: 24rem;
  border-radius: 20px;

  overflow: hidden;
  padding: 0.5rem;

  transition: all 0.1s;

  a {
    display: flex;
    justify-content: center;
    .yellowBtn {
      width: 100%;
    }
  }

  .productoInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }

  .itemStock {
    position: relative;
    top: 5%;
    left: -37.5%;
    transform: rotate(-45deg);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    background-color: #fa9f42;
    width: 100%;
    border: 1px solid #222823;
    box-shadow: 3px 3px 5px #222823;
    z-index: 1;
  }
  .noStock {
    background-color: #222823;
    border-color: #fa9f42;
    color: #fa9f42;
  }

  .productInfo {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;
    justify-content: space-between;
    color: gainsboro;
    text-align: center;
    transform: translateY(-1rem);
    height: 100%;

    img {
      border: 3px inset #5e5ed9;
      width: 18rem;
      height: 18rem;
      object-fit: cover;
    }
  }

  .normalPrice {
    margin-top: 0.5rem;
    color: #ffb56b;
  }

  .lastPrice {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    font-size: 0.75rem;
  }
  .promoPrice {
    color: #fa9f42;
    animation: 1.5s promoPricePulse infinite;
  }
}

.productCard:hover {
  transform: scale(1.05);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.75);
  animation: 5s hoverProd infinite linear;
}

/* @media (max-width: 576px) {
  .productCard {
    background: #222823;
    min-width: 80%;
    row-gap: 0rem;

    .itemStock {
      left: -41.5%;
    }

    .productInfo {
      display: flex;
      flex-direction: column;

      img {
        width: 60vw !important;
        height: 60vw !important;

        max-width: 15rem !important;
        max-height: 15rem !important;
      }
    }
  }
} */

@media (max-width: 864px) {
  .productCard {
    position: relative;
    flex-direction: row;
    min-height: 15rem;
    width: 21rem;

    .productoInfoContainer {
      width: 100%;
    }

    .itemStock {
      position: absolute;
      left: -25%;
      top: 12%;
      height: fit-content;
      width: 15rem;
    }

    .data {
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100% !important;
    }
    .productInfo {
      padding-top: 1rem;
      flex-direction: row;
    }

    img {
      max-width: 10rem !important;
      max-height: 10rem !important;
    }

    button {
      margin-left: auto;
    }
  }
}

@keyframes promoPricePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hoverProd {
  0% {
    border-color: #6060de;
  }
  8% {
    border-color: rgb(255, 0, 255);
  }
  16% {
    border-color: rgb(255, 50, 50);
  }
  25% {
    border-color: rgb(255, 0, 127);
  }
  33% {
    border-color: rgb(255, 0, 0);
  }
  41% {
    border-color: rgb(255, 127, 0);
  }
  50% {
    border-color: rgb(255, 255, 0);
  }
  58% {
    border-color: rgb(127, 255, 0);
  }
  66% {
    border-color: rgb(0, 255, 0);
  }
  74% {
    border-color: rgb(0, 255, 127);
  }
  82% {
    border-color: rgb(0, 255, 255);
  }
  90% {
    border-color: rgb(0, 127, 255);
  }
  98% {
    border-color: rgb(0, 0, 255);
  }
}
