.categoryTitle {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(34, 40, 35);
  margin: 1rem;

  cursor: default;
}
hr {
  border-color: #222823;
  margin-bottom: 1rem;
}

.ItemListContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  font-family: "Ubuntu", sans-serif;

  padding: 1rem;
  gap: 1.5rem;
  width: 100%;
  padding: 1%;

  margin-bottom: 3rem;

  & > .loadScreen {
    width: 100%;
    background: black;
    $primaryClr: red;
  }
}
