.errorScreen {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;

  row-gap: 1rem;
}

.categoryTitle {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(34, 40, 35);
  margin: 1rem;

  cursor: default;
}
hr {
  border-color: #222823;
  margin-bottom: 1rem;
}

.ItemListContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  font-family: "Ubuntu", sans-serif;

  padding: 2rem;
  gap: 2rem;
  width: 100%;

  margin-bottom: 3rem;

  & > .loadScreen {
    width: 100%;
    background: black;
    $primaryClr: red;
  }
}

.previewFromHover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;
  z-index: 2;

  img {
    max-height: 30vw;
    max-width: 40vw;
    object-fit: contain;
    border: 2px outset red;
    border-radius: 1rem;
  }
}

@media (max-width: 864px) and (orientation: portrait) {
  .previewFromHover {
    img {
      max-height: 60vw;
      max-width: 80vw;
    }
  }
}
