@import "../../../styles/variables.scss";

.currentPage,
.currentPage:hover {
  text-decoration: underline !important;
  font-weight: bold;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  & > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  &__ul {
    display: flex;
    column-gap: $normalizeSize * 0.75;

    list-style-type: none;
    font-family: $navFontFamily;

    height: 6rem;

    &--item {
      height: inherit;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: $normalizeSize * 0.25;
      color: $headerColor;
      cursor: pointer;
      font-size: 1.25rem;

      a:not(.categoriaMenu) {
        color: $headerColor;
      }

      label {
        height: 100%;
        cursor: inherit;
        display: flex;
        align-items: center;
      }

      input {
        border-radius: 5px;
        padding: 0.3rem;
        margin-left: 0.5rem;
        background-color: $defultFontColor;
        color: hsl(283, 4%, 25%);
        border: 3px solid rgba(128, 128, 128, 0.35);
        font-size: 1.15rem;
      }

      input:hover,
      input:focus {
        border-color: $headerColor;
      }

      .menuBtnContainer,
      .shoppingCart,
      .searchImg {
        width: $normalizeSize;
        height: $normalizeSize;
        max-width: $normalizeSize;
        max-height: $normalizeSize;
        filter: opacity(0.1) drop-shadow(0.1px 0.1px 0.1px $headerColor)
          brightness(3);
      }

      .cartActive > .shoppingCart,
      .menuBtnContainerActive,
      .menuMobile:hover,
      .shoppingCart:hover,
      .searchImg:hover,
      .mobileSearchActive {
        filter: opacity(0.5) drop-shadow(0.1px 0 0 $headerColor) brightness(3);
      }
    }
  }
}
@media (min-width: 865px) {
  .menuItem {
    &:nth-child(4),
    &:nth-child(6) {
      display: none;
    }
  }
}

@media (max-width: 864px) {
  .header__top {
    height: 0.75rem;
    font-size: 0.8rem;
  }

  .menuItem {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }

  .header__bottom {
    padding: 0.15rem 0.05rem;
    height: 3.25rem !important;
  }

  .Mania_ {
    img {
      display: none;
    }
    span {
      animation: $rainbow;
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }
  }

  .nav {
    height: 100%;
    &__ul {
      height: 100%;
    }
    .menuItem {
      margin: 0;
    }

    .menuItem {
      & * {
        width: 100%;
      }
    }
  }

  .shoppingCart,
  .searchImg {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }
}

.cartWithOrder {
  animation: 1.5s shake infinite ease-in;
  -webkit-animation: 1.5s shake infinite ease-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(35deg);
  }
  70% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
