@import "../../../styles/variables.scss";

.nav {
  &__ul {
    display: flex;
    column-gap: $normalizeSize * 0.5;

    list-style-type: none;
    font-family: $navFontFamily;

    height: 6rem;

    &--item {
      height: inherit;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: $normalizeSize;
      color: $headerColor;
      cursor: pointer;
      font-size: 1.25rem;

      label {
        height: 100%;
        cursor: inherit;
        display: flex;
        align-items: center;
      }

      input {
        border-radius: 5px;
        padding: 0.3rem;
        margin-left: 0.5rem;
        background-color: $defultFontColor;
        color: #a7a2a9;
        border: 3px solid rgba(128, 128, 128, 0.35);
        font-size: 1.15rem;
      }

      input:hover,
      input:focus {
        border-color: $headerColor;
      }

      .shoppingCart {
        width: $normalizeSize;
        height: $normalizeSize;
        filter: opacity(0.1) drop-shadow(0.1px 0.1px 0.1px $headerColor * 1.1)
          brightness(3);
      }

      .shoppingCart:hover {
        filter: opacity(0.5) drop-shadow(0.1px 0 0 $headerColor) brightness(2.9);
        & > .navCart {
          display: block;
        }
      }
    }
  }
}

.seachDesktop {
  display: block;
}

.seachMobile {
  display: none;
}

@media (max-width: 864px) {
  .redes {
    display: none !important;
  }

  .header__bottom {
    padding: 0.15rem 0.5rem !important;
    height: 3rem !important;
  }

  .Mania_ {
    img {
      display: none;
    }
    span {
      animation: $rainbow;
      font-size: 1.25rem;
      margin-right: 0.5 rem;
    }
  }

  .nav {
    height: 100%;
    &__ul {
      height: 100%;
    }
    .menuItem {
      margin: 0;
      &:nth-child(1) {
        display: none;
      }
    }

    .menuItem {
      & * {
        width: 100%;
      }

      .showCatNav {
        display: none;
      }
      .seachMobile {
        width: 100%;
        display: block;
      }

      .seachDesktop {
        display: none;
      }
    }
  }

  .shoppingCart {
    width: 30px !important;
    height: 30px;
  }
}
