.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-height: calc(100vh - 10rem);
  width: 100%;
  border-bottom: 3px ridge #5e5ed7;

  overflow: hidden;
}

@keyframes carAparecer {
  from {
    height: 0;
  }

  to {
    height: fit-content;
  }
}

@media (orientation: landscape) {
  .carouselContainer {
    max-height: calc(100vh - 2rem);
  }
}
