@keyframes carouselAparece {
  0% {
    filter: blur(0.4rem); /* grayscale(1) */
  }
  80% {
    filter: blur(0.05rem);
  }
  100% {
    filter: blur(0); /* grayscale(0); */
  }
}

@import "../../styles/variables.scss";

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 99%;
  margin: 0.5%;
  height: 50vh;

  position: relative;
}

.carBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: $defaultFontSize;
  width: $defaultFontSize * 2;
  height: $defaultFontSize * 2;

  border-radius: 100%;
  color: white;
  background-color: black;
  opacity: 0.75;
  box-sizing: border-box;

  position: relative;
  z-index: 1;
}

.carBtn:hover {
  opacity: 1;
}

.carousel {
  .carItem:not(.active) {
    display: none;
  }
  .active {
    animation: 0.5s carouselAparece ease-in 1;
  }
}

.cbBack {
  left: $defaultFontSize * 0.5;
}

.cbNext {
  right: $defaultFontSize * 0.5;
}
