.product {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;

  background-color: #222823;
  border: 3px outset #5e5ed9;;
  width: 10rem;
  height: 15rem;
  border-radius: 20px;

  overflow: hidden;


  .itemStock {
    position: relative;
    transform: rotate(-40deg) translate(-28%, -135%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: #fa9f42;
    width: 100%;
    border: 1px solid #222823;
    box-shadow: 3px 3px 5px #222823;
    z-index: 1;
  }
  .noStock {
    background-color: #222823;
    border-color: #fa9f42;
    color: #fa9f42;
  }

  img {
    transform: translate(0, -15%);
    border: 3px inset #5e5ed9;
    margin: 0 0.5rem;
    width: 8rem;
    height: 8rem;
  }

  .itemCountContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translate(0, -15%);

    .editQuantity {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      background: #5e5ed9;
      color: #fa9f42;
      border-color: #fa9f42;
    }

    .toppedQuantity {
      filter: grayscale(1);
    }
    .toppedQuantity:hover {
      transform: none !important;
    }
    .prodQuantity {
      color: #5e5ed9;
      width: 40%;
      border-radius: 5px;
      text-align: center;
    }
  }
}